.container {
  padding: 1rem;
  color: #eeeeee;
  text-align: center;

  @media (min-width: 1400px) {
    width: 60vw;
  }

  @media (min-width: 600px) {
    padding: 6rem;
  }

  h5 {
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #00adb5;
  }
}
.texto {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.hello {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  @media (min-width: 1300px) {
    flex-wrap: nowrap;
  }
}

.card {
  flex: 1;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;

  h3 {
    margin-top: 0;
    color: #00adb5;
  }

  p {
    margin-bottom: 0;
    font-size: 0.95rem;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
