.container {
  width: 55%;
  padding: 5rem;
  color: #eeeeee;
  text-align: center;

  h5 {
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #00adb5;
  }
}
.texto {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.hello {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  flex-shrink: 0;
}

.imagemPerfil {
  border-radius: 50%;
  border: 3px solid #00adb5;
  object-fit: cover;
}

.botoes {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.botao {
  background-color: transparent;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    border: 2px solid #00adb5;
    background-color: #00adb5;
    color: #fff;
  }
}
